<div class="tracking-container">
  <mat-card *ngIf="rowsLength !== 0" class="card-table">
    <mat-card-header>
      <mat-card-title>Tracking</mat-card-title>
    </mat-card-header>
    <ng-container [formGroup]="trackingForm">
      <mat-card-content>
        <!-- Filter -->
        <mat-form-field class="filter">
          <input
            matInput
            id="tracking-filter"
            (keyup)="applyFilter($event.target.value)"
            placeholder="Filter"
            [formControl]="trackingForm.get('filterControl')"
          />
        </mat-form-field>

        <div class="data-table">
          <div class="table-container">
            <table
              mat-table
              [dataSource]="dataSource"
              matSort
              matSortActive="Id"
              matSortDirection="asc"
              matSortDisableClear
              class="expand-table"
            >
              <!-- Id Column -->
              <ng-container matColumnDef="Id">
                <mat-header-cell id="sortId" *matHeaderCellDef mat-sort-header>
                  Id
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <span class="mat-cell-text">{{ row.Id }}</span>
                </mat-cell>
              </ng-container>

              <!-- QrCode Column -->
              <ng-container matColumnDef="QrCode">
                <mat-header-cell id="sortQrCode" *matHeaderCellDef mat-sort-header>
                  Qr
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <span class="mat-cell-text">{{ row.QrCode }}</span>
                </mat-cell>
              </ng-container>

              <!-- Destination Column -->
              <ng-container matColumnDef="Destination">
                <mat-header-cell id="sortDestination" *matHeaderCellDef mat-sort-header>
                  Destination
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <span class="mat-cell-text">{{ row.Destination }}</span>
                </mat-cell>
              </ng-container>

              <!-- ShippingNumber Column -->
              <ng-container matColumnDef="ShippingNumber">
                <mat-header-cell id="sortShippingNumber" *matHeaderCellDef mat-sort-header>
                  ShippingNumber
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <span class="mat-cell-text">{{ row.ShippingNumber }}</span>
                </mat-cell>
              </ng-container>

              <!-- ShippingDate Column -->
              <ng-container matColumnDef="ShippingDate">
                <mat-header-cell id="sortShippingDate" *matHeaderCellDef mat-sort-header>
                  ShippingDate
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <span class="mat-cell-text">{{ row.ShippingDate | date: 'dd/MM/yyyy' }}</span>
                </mat-cell>
              </ng-container>

              <!-- Dimensions Column -->
              <ng-container matColumnDef="Dimensions">
                <mat-header-cell id="sortDimensions" *matHeaderCellDef mat-sort-header>
                  Dimensions
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <span class="mat-cell-text">{{ row.Dimensions }}</span>
                </mat-cell>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="Weight">
                <mat-header-cell id="sortWeight" *matHeaderCellDef mat-sort-header>
                  Weight
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <span class="mat-cell-text">{{ row.Weight }}</span>
                </mat-cell>
              </ng-container>

              <!-- CreatedBy Column -->
              <ng-container matColumnDef="CreatedBy">
                <mat-header-cell id="sortCreatedBy" *matHeaderCellDef mat-sort-header>
                  Created By
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <span class="mat-cell-text">{{ row.CreatedBy }}</span>
                </mat-cell>
              </ng-container>

              <!-- CreatedOn Column -->
              <ng-container matColumnDef="CreatedOn">
                <mat-header-cell id="sortCreatedOn" *matHeaderCellDef mat-sort-header>
                  Created On
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <span class="mat-cell-text">{{ row.CreatedOn | date: 'dd/MM/yyyy' }}</span>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row
                id="row-{{ row.Id }}"
                [@rowsAnimation]=""
                *matRowDef="let row; columns: displayedColumns; let i = index"
              ></mat-row>
            </table>
          </div>

          <mat-paginator [pageSize]="10" class="hide-options"></mat-paginator>

          <app-loading *ngIf="loading"></app-loading>
        </div>
      </mat-card-content>
    </ng-container>
  </mat-card>
  <mat-card *ngIf="rowsLength === 0">
    <mat-card-header>
      <mat-card-title>Tracking</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      There are no packages in the system.
    </mat-card-content>

    <mat-card-actions>
      <button mat-flat-button color="accent" class="btn-redirect" [routerLink]="['/package']">
        Package
      </button>
    </mat-card-actions>
  </mat-card>
</div>
