@import './src/assets/styles/theme';
@import './src/app/core/styles/forms.scss';
@import './src/app/core/styles/tables.scss';

.tracking-container {
  .expand-table {
    min-width: 600px;
    width: 100%;
  }

  .main-filters-container {
    .group-search {
      flex: 0.5;
    }
  }
}

.c-pointer {
  cursor: pointer !important;
}

.mat-column-Information {
  flex: 0.5;
}
