form {
    &.form-search {
        display: inline-flex;
        justify-content: space-between;
        width: 100%;

        .form-group {
            flex: 1;
            text-align: left;

            mat-form-field {
                width: $input-width;
            }
        }

        .buttonSearch {
            margin-top: 10px;
        }

        @include tablet {
            .form-group mat-form-field {
                width: 200px;
            }
        }
    }
}

.main-filters-container {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;

    .main-filters-group {
        flex: 1;
        text-align: left;

        mat-form-field {
            width: $input-width;
        }
    }

    .buttonSearch {
        margin-top: 10px;

        mat-icon {
            font-size: 21px;
        }
    }

    @include tablet {
        .main-filters-group mat-form-field {
            width: 200px;
        }
    }
}

.advanced-filters-container {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;

    .advanced-filters-group {
        flex: 1;
        text-align: left;

        mat-form-field {
            width: $input-width;
        }
    }

    @include tablet {
        .advanced-filters-group mat-form-field {
            width: 200px;
        }
    }
}
