@import 'src/assets/styles/theme';
@import './forms.scss';
@import './tables.scss';

.package-container {
  .advanced-filters-container {
    flex-wrap: wrap;
  }
}

.package-part-container {
  display: flex;
  width: 100%;
  justify-content: space-between;

  @include tablet {
    flex-direction: column;
  }
}

@include tablet {
  .advanced-filters-container.button-container {
    padding-top: 40px;
    justify-content: start;
  }

  .advanced-filters-container.status-base-container {
    padding-top: 40px;
  }

  .advanced-filters-container.detail-container {
    padding-top: 40px;
  }
}
