// --- Table cells predefined widths
$table-cell-width-action: 75px;
$table-cell-width-date: 100px;
$table-cell-width-date-time: 120px;
$table-cell-width-sm-action: 40px;

$table-cell-background-color: #fafafa;
$table-cell-border-color: #dddddd;
// ---

.mat-table {
    td,
    th,
    .mat-cell,
    .mat-header-cell {
        &.mat-column-Info,
        &.mat-column-Actions {
            flex: 0 0 $table-cell-width-action;
            justify-content: center;
            padding-right: 0;
        }

        &.mat-column-Info {
            overflow: visible;
        }

        .mat-icon {
            font-size: 20px;

            &.disabled {
                color: #cdcdcd;
            }
        }

        .mat-chip {
            background-color: black;
            color: white;
            font-size: 12px;
            text-align: center;
            height: 18px;
            border-radius: 3px;
            width: auto;
            min-width: 10px;
            padding: 0 4px;
            margin: 2px 0;
        }
    }

    .mat-cell {
        overflow: auto;
        white-space: nowrap;
        max-height: 0 !important;
    }

    .read-more {
        white-space: normal;
    }

    &.expand-table {
        td .expand-info,
        .mat-cell .expand-info {
            cursor: auto;

            span {
                line-height: 1.5;
                max-height: 3em;
                overflow-y: auto;
                overflow-x: hidden;
                word-break: break-word;
                white-space: pre-wrap;
            }

            ul.expand-info--ul {
                width: 100%;

                li.expand-info-li {
                    flex: 1;

                    span {
                        width: 100%;
                    }
                }

                li:last-child {
                    padding-right: 0;
                }

                ul.multiple-results {
                    display: inline-block;
                    max-height: 3em;
                    width: 100%;
                    overflow-y: auto;
                    overflow-x: hidden;
                    @include inline(',\00a0');

                    li {
                        overflow: hidden;
                        line-height: 1;
                    }
                }
            }
        }
    }

    /** Needed changes for sticky tables **/
    &.mat-table-sticky {
        border: none;

        tr,
        .mat-row,
        .mat-header-row {
            background-color: $table-cell-background-color;
            overflow: inherit !important;

            &:first-child {
                tr[mar-cell],
                .mat-cell {
                    border-top: none;
                }
            }

            &:last-child {
                border-bottom: 1px solid $table-cell-border-color;
            }

            tr,
            .mat-cell,
            .mat-header-cell {
                border-top: 1px solid $table-cell-border-color;

                &:first-child {
                    border-left: 1px solid $table-cell-border-color;
                }
                &:last-child {
                    border-right: 1px solid $table-cell-border-color;
                }
                &.mat-table-sticky {
                    z-index: 3 !important;
                }
            }
        }
    }
}
