<mat-toolbar id="topbar" color="primary">
    <mat-toolbar-row>
        <a [routerLink]="['/']" class="nav-brand">
            <span class="nav-brand__title hidden-sm">{{ appData.title }}</span>
        </a>

        <span class="nav-spacer"></span>

        <ul>
            <li *ngIf="userName">
                <span [matMenuTriggerFor]="profile"
                    >Welcome, {{ userName }}</span
                >
                <mat-menu
                    #profile="matMenu"
                    [overlapTrigger]="false"
                    class="menu"
                >
                    <button mat-menu-item>
                        <span>Profile</span>
                    </button>
                    <button mat-menu-item>
                        <span>Inbox</span>
                    </button>
                    <button mat-menu-item>
                        <span>Settings</span>
                    </button>
                </mat-menu>
            </li>

            <li>
                <a
                    *ngIf="userName"
                    (click)="logout.emit()"
                    class="a-sign log-out"
                >
                    Log out
                </a>

                <a
                    *ngIf="!userName"
                    (click)="login.emit()"
                    class="a-sign log-in"
                >
                    Log in
                </a>
            </li>
        </ul>
    </mat-toolbar-row>
</mat-toolbar>
