@import './src/assets/styles/theme/theme';

:host {
  display: flex;

  .nav-brand {
    margin: 0;
    padding: 0;
    font-size: 1em;

    &__logo {
      height: 1.5em;
      float: left;
      margin-right: 0.5em;
      padding-top: 0.05em;
    }

    &__title {
      color: $color-primary;
      text-transform: uppercase;
      float: left;
    }
  }

  .topnav-icon {
    text-decoration: none;
    display: flex;
    color: #fff;
  }

  .nav-spacer {
    flex: 1 1 auto;
  }

  a {
    color: $color-primary;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
      font-size: 0.7em;
      line-height: 1.5em;
      text-align: right;
    }

    .a-sign {
      position: relative;
      padding-left: 1.4em;
      text-decoration: none;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }

      &:before {
        font-family: 'Material Icons';
        font-size: 1.2em;
        position: absolute;
        left: 0;
        top: 0;
        content: 'power_settings_new';
      }
    }
  }
}
