// theme
@import "./src/assets/styles/theme";
@import "./src/app/core/styles/tables.scss";

.shifts-management-tasks-dialog-container {
  .mat-dialog-title {
    .subtitle {
      margin-left: 1em;
      font-size: 15px;
      padding-left: 0px;
    }
  }

  .mat-dialog-content {
    min-height: 15vh;
    max-height: none;
    padding-bottom: 0;

    .table-container {
      max-height: 55vh;
      overflow-y: auto;
      margin-bottom: 1.5em;

      .mat-header-row {
        top: 0px;
        position: sticky;
        z-index: 100;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 3px 3px 0 0;
      }

      .mat-row:first-child .mat-cell {
        border-top: none;
      }
    }

    .expand-table {
      .mat-cell,
      .mat-header-cell {
        &.mat-column-TaskType,
        &.mat-column-TaskDefinition-Priority {
          flex: 0 0 $table-cell-width-action;
        }
        &.mat-column-TaskDefinition-EffectivityDate {
          flex: 0 0 $table-cell-width-date;
        }
        &.mat-column-CheckTask {
          flex: 0 0 $table-cell-width-sm-action;
        }

        @include tablet() {
          &.mat-column-TaskType {
            flex: 0 0 $table-cell-width-sm-action;
          }
          &.mat-column-TaskDefinition-Priority {
            flex: 0 0 60px;
          }
        }
      }

      .mat-cell {
        .expand-info {
          cursor: auto;
          ul.multiple-results {
            display: inline-block;
            overflow: hidden;
            @include inline(", \00a0 ");
          }
          li {
            line-height: 1;
          }
        }
      }
    }
  }
}
