<div class="form-group group-shipping-date">
  <mat-form-field class="date-field shipping-date-field">
    <input
      id="shippingDateControl"
      matInput
      [matDatepicker]="shippingDate"
      placeholder="Shipping date"
      [formControl]="packageDetailsForm.get('shippingDateControl')"
      readonly
      (click)="shippingDate.open()"
      (dateInput)="onFormChange()"
    />
    <mat-datepicker-toggle matSuffix [for]="shippingDate"></mat-datepicker-toggle>
    <mat-datepicker #shippingDate [opened]="shippingDateOpened"></mat-datepicker>
    <mat-error *ngIf="packageDetailsForm.get('shippingDateControl').hasError('required')">
      shipping date is required
    </mat-error>
  </mat-form-field>
</div>
<div class="separator separator__dashed"></div>
<div class="form-group group-shipping-number">
  <mat-form-field class="shipping-number-field">
    <input
      id="shippingNumberControl"
      matInput
      placeholder="Shipping number"
      maxlength="5"
      [formControl]="packageDetailsForm.get('shippingNumberControl')"
      (input)="onFormChange()"
    />
    <mat-error *ngIf="packageDetailsForm.get('shippingNumberControl').hasError('required')">
      Shipping number is required
    </mat-error>
    <mat-error *ngIf="packageDetailsForm.get('shippingNumberControl').hasError('pattern')">
      Shipping number not is numeric
    </mat-error>
  </mat-form-field>
</div>
<div class="separator separator__dashed"></div>
<div class="form-group group-dimensions">
  <mat-form-field class="dimensions-field">
    <input
      id="dimensionsControl"
      matInput
      placeholder="Dimensions"
      [formControl]="packageDetailsForm.get('dimensionsControl')"
      (input)="onFormChange()"
    />
    <mat-error *ngIf="packageDetailsForm.get('dimensionsControl').hasError('required')">
      Dimensions is required
    </mat-error>
  </mat-form-field>
</div>
<div class="separator separator__dashed"></div>
<div class="form-group group-kgs">
  <mat-form-field class="weight-field">
    <input
      id="weightControl"
      matInput
      placeholder="Weight"
      [formControl]="packageDetailsForm.get('weightControl')"
      (input)="onFormChange()"
    />
    <mat-error *ngIf="packageDetailsForm.get('weightControl').hasError('required')">
      Weight is required
    </mat-error>
    <mat-error *ngIf="packageDetailsForm.get('weightControl').hasError('pattern')">
      Weight not is numeric
    </mat-error>
  </mat-form-field>
</div>
