<div class="form-group group-statuses">
  <mat-form-field class="filter-field">
    <mat-label>Status</mat-label>
    <mat-select
      required
      id="statusesControl"
      [disabled]="disableFormControls"
      [formControl]="packageStatusDestinationForm.get('statusesControl')"
      (selectionChange)="onFormChange($event.value)"
    >
      <mat-option *ngFor="let status of statuses" [value]="status">
        {{ status.Name }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="packageStatusDestinationForm.get('statusesControl').hasError('required')">
      Status is required
    </mat-error>
  </mat-form-field>
</div>
<div class="form-group group-destinations">
  <mat-form-field class="filter-field" hideRequiredMarker>
    <mat-label>Destination</mat-label>
    <mat-select
      required
      id="destinationControl"
      [disabled]="disableFormControls"
      [formControl]="packageStatusDestinationForm.get('destinationControl')"
      (selectionChange)="onFormChange()"
    >
      <mat-option *ngFor="let destination of destinations" [value]="destination">
        {{ destination.Name }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="packageStatusDestinationForm.get('destinationControl').hasError('required')">
      Destination is required
    </mat-error>
  </mat-form-field>
</div>
