<h1 mat-dialog-title>{{ data.header }}</h1>
<div mat-dialog-content [innerHTML]="data.content"></div>
<div mat-dialog-actions>
  <button mat-button></button>
  <button
    mat-button
    class="btn-decline"
    *ngIf="data.decline !== 1"
    [mat-dialog-close]=""
  >
    {{ data.decline || "Decline" }}
  </button>
  <button
    mat-flat-button
    class="btn-accept"
    color="accent"
    [mat-dialog-close]="data.content"
  >
    {{ data.accept || "Accept" }}
  </button>
</div>
