.app-container {
    min-height: 100%;
    position: relative;

    main {
        padding-bottom: 60px;
    }

    footer {
        position: absolute;
        bottom: 0;
        height: 40px;
        width: 100%;
        text-align: center;

        .copyright {
            font-size: 12px;
            color: #ddd;
        }
    }
}
