<div class="app-container">
    <header>
        <app-topnav [userName]="daniel" [appData]="appData"></app-topnav>
        <app-nav [navItems]="navItems"></app-nav>
    </header>
    <main>
        <app-loading *ngIf="loading"></app-loading>
        <router-outlet *ngIf="!loading"></router-outlet>
    </main>
    <footer></footer>
</div>
