<mat-toolbar class="menu">
  <mat-toolbar-row>
    <div *ngFor="let item of navItems; let i = index">
      <div *ngIf="item.children; else no_child" class="menu-item dropdown">
        <button mat-menu-item id="{{ item.id }}" [matMenuTriggerFor]="submenu" [routerLinkActive]="'active'">
          <span>{{ item.name }}</span>
        </button>
        <mat-menu #submenu="matMenu" [overlapTrigger]="false">
          <button
            mat-menu-item
            id="{{ child.id }}"
            *ngFor="let child of item.children; let i = index"
            [routerLinkActive]="'active'"
            [routerLink]="[child.route]"
          >
            <span *ngIf="child.route">{{ child.name }}</span>
            <span *ngIf="child.url">
              <a href="{{ child.url }}" target="_blank">{{ child.name }}</a>
            </span>
          </button>
        </mat-menu>
      </div>
      <ng-template #no_child>
        <div class="menu-item">
          <button mat-menu-item id="{{ item.id }}" [routerLinkActive]="'active'" [routerLink]="[item.route]">
            <span>{{ item.name }}</span>
          </button>
        </div>
      </ng-template>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
