@import './src/assets/styles/theme/theme';

.menu {
  height: 40px;
  min-height: 40px;
  //   background-color: mat-color(grey, A700);

  padding: 2px;
  overflow: auto;

  .mat-toolbar-row {
    height: 40px;
    padding: 0;
  }

  .menu-item {
    border-right: solid 1px;
    //border-color: mat-color(grey, A400);
    padding: 0 0.5em;
    .mat-menu-item {
      line-height: 1em;
      padding: 0 1em;
      height: 30px;
      border-radius: 3px;
      &:hover,
      &.active {
        background: rgba(0, 0, 0, 0.2) !important;
      }
    }
    // DROPDOWN
    &.dropdown {
      position: relative;
      .mat-menu-item {
        padding-right: 2em;

        &:after {
          font-family: 'Material Icons';
          font-size: 1.2em;
          position: absolute;
          right: 0.5em;
          top: 0.65em;
          content: 'keyboard_arrow_down';
        }
      }
    }
  }
}
