<div class="package-container">
  <mat-card *ngIf="true" class="card-table">
    <mat-card-header>
      <mat-card-title>Package</mat-card-title>
    </mat-card-header>
    <ng-container [formGroup]="packageForm">
      <mat-card-content>
        <div class="main-filters-container" *ngIf="!packageStatusDestinationForm.controls.statusesControl">
          <button mat-flat-button color="accent" type="submit" class="button-new" (click)="isNewPackage = true">
            <mat-icon>add_box</mat-icon>
            New Package
          </button>
          <button mat-flat-button color="accent" type="submit" class="button-scan" (click)="openDialog()">
            <mat-icon>camera_alt</mat-icon>
            Scan QR
          </button>
        </div>
        <div class="separator separator__dashed"></div>
        <div *ngIf="(package.Id || isNewPackage) && !loading">
          <div class="advanced-filters-container status-destination-container">
            <app-package-status-destination
              class="package-part-container"
              [package]="package"
              [statuses]="statuses"
              [destinations]="destinations"
              (packageStatusDestinationChange)="packageStatusDestinationForm = $event"
            ></app-package-status-destination>
          </div>
          <div *ngIf="package.Id || packageStatusDestinationForm.valid">
            <div class="advanced-filters-container detail-container">
              <app-package-details
                class="package-part-container"
                [package]="package"
                (packageDetailsChange)="packageDetailsForm = $event"
              ></app-package-details>
            </div>
          </div>
          <div class="advanced-filters-container button-container">
            <div class="separator separator__dashed"></div>
            <div class="main-filters-group form-group">
              <button
                [disabled]="loading || !packageStatusDestinationForm.valid || !packageDetailsForm.valid"
                mat-flat-button
                color="accent"
                type="submit"
                class="buttonSave"
                (click)="savePackage()"
              >
                <mat-icon>save</mat-icon>
                Save
              </button>
            </div>
          </div>
        </div>
      </mat-card-content>
    </ng-container>
  </mat-card>
</div>
<app-loading *ngIf="loading"></app-loading>
