.mat-calendar-table {
    border: none;
}

.mat-calendar-table-header th {
    text-align: center;
}

.mat-calendar-body-selected {
    background-color: $color-primary;
}

.mat-calendar-body-label {
    color: mat-color($grey, A200);
}

.mat-form-field-appearance-legacy
    .mat-form-field-suffix
    .mat-datepicker-toggle-default-icon {
    width: 24px;
    margin-bottom: 4px;
    color: mat-color($grey, A200);
}
