// MATERIAL
//== mat-buttons
//== mat-menu
//== mat-select
//== mat-option
//== mat-snackbar
//== mat-card
//== mat-dialog
//== mat-spinner
//== mat-chip

//== mat-buttons
// .mat-raised-button, .mat-stroked-button, .mat-flat-button {
//   border-radius: 2em !important;
// }

//== mat-menu
.mat-menu-item {
    font-size: $size-sm !important;
    font-weight: normal !important;
}

.mat-menu-content {
    .mat-menu-item {
        &.active {
            background: rgba(0, 0, 0, 0.04);
        }
        &:hover.mat-menu-item {
            &.active {
                background: rgba(0, 0, 0, 0.04);
            }
            &:hover:not([disabled]) {
                background: $color-primary;
            }
        }
    }
}

//== mat-select
.mat-select-panel {
    padding-top: $gutter;
    padding-bottom: $gutter;
    min-width: $input-width;

    &.multiple {
        min-width: calc(100% + 16px) !important;
        margin-left: 32px;
    }
}

//== mat-option
.mat-option {
    &:hover {
        background: $color-primary !important;
    }

    &.mat-active {
        background: inherit;
    }
}

//== mat-snackbar
.mat-snack-bar-container.mat-snack-bar-center {
    margin: 20px;
}

.snackbar {
    border-radius: 4px;

    .mat-simple-snackbar {
        padding-right: 2em;
        color: white;
        font-size: $size-sm;
        line-height: 22px;
    }

    position: relative;

    .mat-simple-snackbar-action {
        color: white;
        display: block;
        padding: 0 1em;
        position: absolute;
        top: 1em;
        right: 2em;

        .mat-button {
            padding: 0;
            min-width: 0;
            max-width: 0;

            &:before {
                font-family: "Material Icons";
                content: "close";
                font-size: 1.5em;
            }
        }
    }
}

//== mat-card
.mat-card {
    background-color: $color-card-background !important;
    margin-bottom: $gutter * 2;

    .mat-card-header-text {
        margin: 0 5px;
        padding-top: 9px;
    }

    .mat-card-title {
        font-size: $size-xl;
        font-weight: normal;
    }

    .mat-card-content {
        padding: $gutter;
        color: mat-color($grey, A200);
    }

    .mat-card-actions {
        text-align: right;
        border-top: mat-color($grey, A700) solid 1px;

        button {
            margin-left: $gutter;
        }
    }
}

//== mat-dialog
form {
    .mat-dialog-content {
        //padding-top: 0;
        padding-bottom: 0;

        .mat-form-field {
            width: 100%;
            padding: 0;
            padding-bottom: 24px;
        }
    }
}

.mat-dialog-container {
    padding: 0px;
    overflow: hidden;
}

.mat-dialog-title {
    margin: 0;
    padding: 25px 16px 0 16px;
}

.mat-dialog-content {
    color: mat-color($grey, A200);
    margin: 0;
    padding: 16px 16px 24px 16px;
    font-size: $size-md;

    .alert {
        margin-bottom: 0;
    }
}

.mat-dialog-actions {
    justify-content: flex-end;
    border-top: #eee solid 1px;
    padding: $gutter;
    min-height: auto;
    margin-bottom: 0;

    button {
        margin-left: $gutter;
    }
}

//== mat-spinner
.mat-progress-spinner circle,
.mat-spinner circle {
    stroke: $color-primary;
}

//== mat-chip
.mat-chip {
    line-height: 1.5;
}
