@import 'assets/styles/theme';

.f-italic {
  font-style: italic;
}

.material {
  .data-table {
    .loading {
      height: 100%;
      width: 100%;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 3px;
      z-index: 101;

      .mat-spinner {
        top: 30%;
        left: 50%;
      }
    }
  }
}

mat-form-field {
  &.date-field {
    i.mat-icon {
      position: absolute;
      font-size: 18px;
      right: 0.7em;
      padding: 0.1em;
      z-index: 2;
      opacity: 0.6;

      &:hover {
        cursor: pointer;
        opacity: 1;
        color: #000;
      }
    }
  }

  &.mat-form-field-appearance-legacy {
    .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
      width: 18px;

      &:hover {
        color: #000;
      }
    }
  }
}

/* Utilities */
.separator {
  border-bottom: 1px solid #eee;
  margin: 0.7em 0;

  &.separator__dashed {
    border-bottom-style: dashed;
  }
}
