// BODY
& {
    font-family: "BrandonText", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: $color-background;
    &.dark-theme {
        color: $color-background;
        background-color: #333;
    }
}

*:focus {
    outline: none;
}

a {
    color: $color-accent;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
    color: black;
}

// RESPONSIVE
// Smartphone
@include smartphone {
}
