@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/icons.woff2') format('woff2');
}

@font-face {
    font-family: 'BrandonText';
    src: url('/assets/fonts/BrandonText-Light.eot');
    src: url('/assets/fonts/BrandonText-Light.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/BrandonText-Light.woff2') format('woff2'),
        url('/assets/fonts/BrandonText-Light.woff') format('woff'),
        url('/assets/fonts/BrandonText-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'BrandonText';
    src: url('/assets/fonts/BrandonText-Regular.eot');
    src: url('/assets/fonts/BrandonText-Regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/BrandonText-Regular.woff2') format('woff2'),
        url('/assets/fonts/BrandonText-Regular.woff') format('woff'),
        url('/assets/fonts/BrandonText-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'BrandonText';
    src: url('/assets/fonts/BrandonText-Medium.eot');
    src: url('/assets/fonts/BrandonText-Medium.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/BrandonText-Medium.woff2') format('woff2'),
        url('/assets/fonts/BrandonText-Medium.woff') format('woff'),
        url('/assets/fonts/BrandonText-Medium.ttf') format('truetype');
    font-weight: 500;
}
