// FORMS
//== fieldset
//== form field
//== color button

//== fieldset
fieldset {
    border: none;
}

//== color button
.color-button {
    position: relative;
    display: block;
    color: transparent;
    cursor: pointer;
    width: 36px;
    height: 36px;
    margin: 8px;
    border: none;
    border-radius: 4px;
    background-color: #ddd;
    &:focus {
        outline: none;
    }
    input {
        opacity: 0;
        &:checked ~ .checkmark {
            border: solid 1px #ccc;
            border-radius: 5px;
            position: absolute;
            top: -3px;
            left: -3px;
            height: 40px;
            width: 40px;
        }
    }
}

//== radio
.mat-radio-group {
    label,
    .mat-radio-label {
        padding-right: 2em;
    }
}

//== select box
.mat-select-panel .filter-option {
    border-top: 1px solid rgba(0, 0, 0, 0.22);
    border-bottom: 1px solid rgba(0, 0, 0, 0.22);
    .mat-pseudo-checkbox {
        @extend .hidden;
    }
    input {
        border: none;
        font-family: unquote(map-get($typography, font-family));
        font-size: inherit;
        width: 100%;
    }
    &:hover {
        background-color: $color-background !important;
    }
}

.mat-select-panel {
    padding-top: 0px !important;
    .select-multiple,
    .select-simple {
        &--item {
            span {
                font-weight: bold;
                color: map-get($grey, 500);
            }
        }
    }
}
