// GRID

// header
.mat-toolbar-row {
    @include container();
}

// main container
main {
    // @include container();
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

&.scrolled {
    main {
        margin-top: 36px;
    }
}

// RESPONSIVE
// Desktop
@include desktop {
    // row
    .row {
        @include row(flex);
    }
}
