// TABLES
//== table container
//== table
//== mat column
//== mat column
// DATA TABLE
//== loading
// HEADER
// PAGINATOR
// EXPAND-TABLE

//$table-bg-color : mat-color($colors, 50);
$table-bg-color: transparent;
$table-border-color: mat-color($grey, A700);
$table-header-color: mat-color($grey, A200);
$table-cell-color: black;
$table-bg-hover-color: rgba(0, 0, 0, 0.02);
$table-header-height: 60px;
$table-icon-size: 22px;

//== table container
.table-container {
    width: 100%;
    overflow: auto;
}

//== table
.mat-table {
    width: 100%;
    font-size: $size-sm;
    border-spacing: 0;
    background-color: $table-bg-color !important;
    border: 1px solid $table-border-color;
    border-radius: 3px;

    tr,
    .mat-row {
        border: none;
    }

    th,
    td {
        padding: 1.25em;
    }

    th,
    td,
    .mat-header-row {
        border: none;
        text-align: left;
    }

    td,
    .mat-cell {
        border-top: 1px solid $table-border-color;
        color: $table-cell-color;
    }

    th,
    thead {
        color: $table-header-color;
        font-size: 12px;
        font-weight: normal;
    }
}

.mat-sort-header-arrow {
    color: $table-header-color;
}

//== mat column
//.mat-column-main {
// justify-content: center;
//}

//== mat cell
.mat-cell,
.mat-footer-cell {
    font-size: $size-sm !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .mat-icon {
        font-size: $table-icon-size;
    }
}

.mat-cell {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.mat-cell,
.mat-header-cell {
    padding-right: 0.5rem;
}

// DATA-TABLE
.data-table {
    position: relative;

    &.no-data {
        display: none;
    }

    tr:hover {
        background-color: $table-bg-hover-color;
    }

    //== loading
    .loading {
        position: absolute;
    }
}

//== paginator
.mat-paginator {
    border: 1px solid $table-border-color;
    border-top: none;
    background-color: $table-bg-color !important;
    // height: $table-header-height;

    .mat-paginator-page-size-select {
        width: 56px;
    }

    &.hide-options .mat-paginator-page-size {
        display: none;
    }

    // RESPONSIVE
    // Smartphone
    @include smartphone {
        // .mat-paginator-page-size-label {
        //   display: none;
        // }
        // .mat-paginator-range-label {
        //   margin: 0 12px 0 14px;
        // }
    }
}

// HEADER

// PAGINATOR
.no-paginator {
    .mat-paginator {
        display: none;
    }
}

// EXPAND-TABLE
.expand-table {
    .mat-row {
        position: relative;
        min-height: 2em;
        transition: min-height 0.5s ease-out;
        overflow: hidden;

        .mat-cell {
            align-items: initial;
            padding-top: 1.4rem;
            padding-bottom: 1rem;
            // padding-right: .5rem;
            // line-height: 1;
            max-height: 1rem;
            overflow: auto;

            .expand-info {
                position: absolute;
                left: 0;
                top: 0;
                margin-top: 4.2rem;
                padding: 0 1.65rem;
                width: calc(100% - 3.3rem);
                height: 3em;
                display: flex;
                z-index: 5;
            }
        }

        .expand-info {
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;

                li {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding-right: 1.5rem;
                    font-size: $size-sm;
                    label {
                        color: mat-color($grey, A200);
                        font-size: $size-xs;
                        padding-right: 0.5rem;
                    }
                    .mat-icon {
                        font-size: $size-sm;
                        height: $size-sm;
                    }
                }
            }
        }

        .toggle-icon {
            transition: transform 0.5s ease-out;
        }

        &.expanded-row {
            min-height: 5em;
            transition: min-height 0.5s ease-out;

            .toggle-icon {
                transform: scale(1, -1);
                transition: transform 0.5s ease-out;
            }
        }
    }
}
