// MATERIAL THEME
//== Colors
// TYPOGRAFY
// VARIABLES

// MATERIAL THEME
@import '~@angular/material/theming';
@include mat-core();

//== Colors

$colors: (
  50: #fafafa,
  100: #fff0b3,
  200: #ffe680,
  300: #ffdb4d,
  400: #ffd426,
  500: #ffcc00,
  600: #ffc700,
  700: #ffc000,
  800: #ffb900,
  900: #ffad00,
  A100: #990,
  A200: #898900,
  A400: #19a398,
  A700: #0b6760,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #fff,
    A200: #fff,
    A400: #fff,
    A700: #fff,
  ),
);

$grey: (
  50: #dadada,
  100: #b3b3b3,
  200: #979797,
  300: #747474,
  400: #646464,
  500: #555555,
  600: #464646,
  700: #363636,
  800: #272727,
  900: #181818,
  A100: #555,
  A200: #888,
  A400: #ccc,
  A700: #ddd,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #fff,
    A200: #fff,
    A400: #000,
    A700: #000,
  ),
);

$warn: (
  50: #fef3ee,
  100: #f9bea7,
  200: #f59872,
  300: #f06730,
  400: #ee5213,
  500: #d4470f,
  600: #b73d0d,
  700: #9b340b,
  800: #7e2a09,
  900: #622107,
  A100: #ffebe3,
  A200: #ffa27d,
  A400: #ff5917,
  A700: #f24c0a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

// Define the default theme.
$primary: mat-palette($colors);
$grey: mat-palette($grey);
$warn: mat-palette($warn);
$accent: mat-palette($colors, A100, A200, A400);
$theme: mat-light-theme($grey, $primary, $warn);
$grey-theme: mat-light-theme($grey, $grey, $warn);

// Include the default theme styles.
@include angular-material-theme($grey-theme);
// Include the theme styles for only specified components.
//@include mat-core-theme($grey-theme);
@include mat-button-theme($theme);
// @include mat-checkbox-theme($theme);

// Alternate dark theme.
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// Include the alternative theme styles inside of a block with a CSS class.
.dark-theme {
  @include angular-material-theme($dark-theme);
}

// ///////////////////////////////////////////////////////////////////////
// VARIABLES
//== Sizes
//== Forms
//== Media queries breakpoints
//== Colors
//== Grid

//== Sizes
$size-xxs: 8px;
$size-xs: 12px;
$size-sm: 14px;
$size-md: 16px;
$size-lm: 18px;
$size-lg: 20px;
$size-xl: 24px;

//== Forms
$input-width: 280px;

//== Media queries breakpoints
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1248px;

//== Colors
$color-accent: mat-color($accent);
$color-primary: mat-color($primary);
$color-warn: mat-color($warn);
$color-ok: #0da398;
$color-background: white;
$color-card-background: mat-color($primary, 50);

//== Grid
$gutter: 8px;

// TYPOGRAFY
// Font family
$typography: mat-typography-config(
  $font-family: '"BrandonText", "Helvetica Neue", sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level($size-md, $size-lg, 600),
);

//
@include mat-core($typography);

// ///////////////////////////////////////////////////////////////////////
// MIXINS
// === list
// === grid
// === budgets
// === container
// === Mediaqueries
// === Visibility

// === list
@mixin inline($property: '\00a0') {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 1em;
  li {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    line-height: 1;
    &:after {
      content: $property;
    }
    &:last-child:after {
      content: '';
    }
  }
}

// === grid
@mixin row($property) {
  display: $property;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  margin-left: -$gutter;
  margin-right: -$gutter;
  margin-bottom: $gutter * 2;

  .col {
    margin: 0 $gutter;
  }
}

// === budgets
@mixin budget() {
  background-color: black;
  color: white;
  font-size: $size-xs;
  text-align: center;
  width: $size-lm;
  height: $size-lm;
  border-radius: 2px;
}

// === container
@mixin container() {
  max-width: $screen-lg;
  margin: 0 auto;
}

// === Mediaqueries
@mixin smartphone {
  @media screen and (max-width: #{$screen-xs}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: #{$screen-sm}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$screen-sm}) {
    @content;
  }
}
